{% extends 'base.html' %}
{% block title %}关于我_宏利の博客{% endblock title %}

{% block body %}
  <div class="pagebg ab"> </div>
  <div class="container">
    <h1 class="t_nav"><span>有才，有情，有趣，不俗，不媚，有傲骨，无傲气</span>
      <p class="n1">关于我</p>
    </h1>
    <div class="news_infos">
      <ul>
        {{ userinfo.desc| safe }}
        <br />
        <h2>About my blog</h2>
        <br />
        <p>服务器：阿里云
          <a href="#" target="_blank">
            <span style="color:#FF0000;">
              <strong>
                联系邮箱：honlicc@163.com
              </strong>
            </span>
          </a>
        </p>
        <br />
        <p>备案号：京ICP备19037798号</p>
        <br />
        <p>程 序：Django+Celery+Redis</p>
      </ul>
    </div>
    <div class="sidebar">
      <div class="about">
        <p class="avatar"> <img src="{{ userinfo.face.url }}" alt=""> </p>
        <p class="abname">{{ userinfo.nickname }}</p>
        <p class="abposition">{{ userinfo.job }}</p>
        <p class="abtext">{{ userinfo.info }}</p>
      </div>
    </div>
  </div>
{% endblock body %}
