<!doctype html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>宏利の博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/bitbug_favicon.ico' %}" type="image/x-icon"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.easyfader.min.js' %}"></script>
    <script src="{% static 'js/scrollReveal.js' %}"></script>

    {% block topfiles %}{% endblock topfiles %}

</head>

<body>
<header id="header">
    <div class="menu">
        <nav class="nav" id="topnav">
            <h1 class="logo"><a href="{% url 'home:index' %}">个人博客</a></h1>
            <li><a href="{% url 'home:index' %}">首页</a></li>
            <li><a href="{% url 'home:recordlist' %}">文章列表</a>
                <ul class="sub-nav">
                    {% for blog in blogs %}
                        {% if blog.table == None %}
                            <li><a href="{% url 'home:info' blog.id %}"  style="color: black">{{ blog.title }}</a></li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'home:courselist' %}">教程文档</a></li>
            <li><a href="{% url 'photo:photo' 1%}">我的相册</a></li>
            <li><a href="{% url 'home:time' %}">时间轴</a></li>
{#            <li><a href="{% url 'home:gbook' %}">留言</a></li>#}
            <li><a href="{% url 'user:about' %}">关于我</a></li>
        </nav>
    </div>
    {% if user.is_authenticated %}
        <li class="login_bt" style="position:absolute;right:60px;top:28px;color: #C1EDF2">
            欢迎您：<em>{{ user.username }}</em>
            <span>|</span>
            <a href="/user/loginout/" style="color: #C1EDF2;">退出</a>
        </li>
    {% else %}
        <a href="{% url 'user:login' %}" id="login">登录</a>
        <a href="{% url 'user:register' %}" id="register">注册</a>
    {% endif %}


    <div id="mnav">
        <h2><a href="/index" class="mlogo">个人博客</a><span class="navicon"></span></h2>
        <dl class="list_dl">
            <dt class="list_dt"><a href="{% url 'home:index' %}">网站首页</a></dt>
            <dt class="list_dt"><a href="{% url 'home:recordlist' %}">文章列表</a></dt>
            <dd class="list_dd">
                <ul>
                    <ul class="sub-nav">
                        {% for blog in blogs %}
                            <li><a href="list.html">{{ blog.title }}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
            </dd>

            <dt class="list_dt"><a href="{% url 'home:courselist' %}">教程文档</a></dt>
            <dt class="list_dt"><a href="{% url 'photo:photo' 1 %}">我的相册</a></dt>
            <dt class="list_dt"><a href="{% url 'home:time' %}">时间轴</a></dt>
{#            <dt class="list_dt"><a href="{% url 'home:gbook' %}">留言</a></dt>#}
            <dt class="list_dt"><a href="{% url 'user:about' %}">关于我</a></dt>
        </dl>
    </div>
</header>
<article>
{% block body %}{% endblock body %}
{% block sidebar %}{% endblock sidebar %}
</article>
<footer id="footer">
    <p>Design by <a href="#">宏利の博客</a> <a href="#">京ICP备19037798号</a></p>
    <p>e-mail : honlicc@163.com</p>
</footer>
<a href="#" class="cd-top">Top</a>
{% block bottomfiles %}{% endblock bottomfiles %}