{% extends 'base.html' %}
{% load staticfiles %}

{% block topfiles %}
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/content.js' %}"></script>
{% endblock topfiles %}

{% block body %}
    <div class="main">
        <!-- 主体 -->
        <div class="leftsidebar">
            <p>{{ tables.first.tag }}</p>
            <ul>
                {% for table in tables %}
                    <a class="chapter chapter-title" href="">{{ forloop.counter }}.{{ table.name }}
                        {% for blog in table.blogs %}
                            <a class="chapter chapter-text" href="{% url 'home:content' blog.id %}">{{ forloop.counter }}.{{ blog.title }}</a>
                        {% endfor %}
                    </a>
                {% endfor %}
                <li>
                </li>
            </ul>
        </div>
        <a class="btn"></a>

        <div class="book-mian">
            <p class="title">{{ blog.detail|safe }}</p>
        </div>
    </div>
{% endblock body %}
