{% extends 'base_sidebar.html' %}
{% load staticfiles %}
{% block title %}宏利の博客{% endblock title %}
{% block topfiles %}
    <script src="{% static 'js/info.js' %}"></script>
{% endblock topfiles %}
{% block body %}

    <h1 class="t_nav">
        <p class="n1">文章</p>
    </h1>
    <div class="infosbox">
        <div class="newsview">
            <h3 class="news_title">{{ blog.title }}</h3>
            <div class="bloginfo">
                <ul>
                    <li class="author"><a href="{% url 'user:about' %}">{{ blog.user }}</a></li>
                    <li class="lmname"><a href="#">学无止境</a></li>
                    <li class="timer">{{ blog.create_time }}</li>
                    <li class="view">{{ blog.read }}已阅读</li>
                </ul>
            </div>


            <div class="news_about"><strong></strong></div>
            <div class="news_con">{{ blog.detail|safe }}</div>
        </div>

        <div class="nextinfo">
            <p>>><a href="list.html">返回列表</a></p>
        </div>
        <div class="news_pl">
            <h2>文章评论</h2>
            <ul>
                <div class="gbko">

                    <div class="l_box f_l" style="padding:20px;">
                        <div class="commentstitle">
                            <h3 id="comments">到现在<span class="commentsnumber">有{{ comme_len }}条评论</span></h3>
                        </div>
                        {% for comment in comments %}
                        <ol class="commentlist">
                            <!--先遍历父级评论-->
                            <li>
                                <div class="top"><a href='#' class='url'>{{ comment.user }}</a>
                                    <span class="time"> @
											<a href="#" title="">{{ comment.create_time }}</a>
										</span>
                                </div>
                                <div class="body">
                                    <p>{{ comment.detail }}</p>
                                </div>
                            </li>
                        </ol>
                        {% endfor %}
                        <div id="commentform">
                            <h3 id="respond" blog_id="{{ blog.id }}">在这添加你的留言！</h3>
                            <br>
                            <p>
                                <textarea name="" id="comment" style=""></textarea>
                                <br>
                                <button id="btn">提交</button>
                                {% csrf_token %}
                            </p>
                        </div>
                    </div>

                </div>
            </ul>
        </div>
    </div>

{% endblock body %}
